# ls, cat
alias ls="eza"
alias ll="eza -lh"
alias l="eza -lah"
alias cat="bat"
alias lg="lazygit"

# kubectl
alias k="kubectl"

{{- if .brewUser }}
# brew
alias brew="sudo -Hu {{ .brewUser }} brew"
{{- end }}
