# ls, cat
alias ls="eza"
alias ll="eza -lh"
alias l="eza -lah"
alias cat="bat"
alias lg="lazygit"

# kubectl
alias k="kubectl"

{{ if eq .chezmoi.os "darwin" -}}
ctc() { if [ -t 0 ]; then command cat "$1" | pbcopy; else pbcopy; fi; }
pfc() { pbpaste; }
{{ else if eq .chezmoi.os "linux" -}}
ctc() { if [ -t 0 ]; then command cat "$1" | wl-copy; else wl-copy; fi; }
pfc() { wl-paste; }
{{ end -}}
